/*------------------------------------*\
    BUTTONS
\*------------------------------------*/


.btn {
	display: inline-block;
	margin: 0 0 12px;
	padding: 6px 10px;
	border-radius: 4px;
	background: $blue;
	color: white;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;

	&:hover {
		background: darken($blue, 10%);
		color: #fff;
	}

	&:active {
		-webkit-box-shadow: inset 0px 2px 5px 0px rgba(50, 50, 50, 0.7);
		box-shadow: inset 0px 2px 5px 0px rgba(50, 50, 50, 0.7);
	}
}

.btn.btn-disabled {
	background: $grayLight;
	cursor: default;
	pointer-events: none;
}

.btn.btn-important {
	background: $important;

	&:hover {
		background: darken($important, 15%);
	}
}