/*------------------------------------*\
    NAVIGATION
\*------------------------------------*/


.page-nav {
	color: #999;
	font-size: 0.8em;

	a {
		padding: 0 5px;

		&:first-child {
			padding-left: 0;
		}
	}
}

// Post nav
// -------------------------

.post-nav {
	margin: 2em 0;

	a {
		display: block;
		padding: 5px 10px;
		width: 50%;
		color: $linkColour;
		font-size: 0.75em;

		&:hover {
			background: #eee;
		}
	}

	a[rel~="next"] {
		float: right;
		text-align: right;
	}

	a[rel~="prev"] {
		float: left;
	}

	p {
		margin: 0;
	}

	span {
		font-weight: bold;
	}
}