/*------------------------------------*\
    NAVIGATION
\*------------------------------------*/


.page-nav {
	color: #999;

	a {
		padding: 0 5px;
	}
}

// Post nav
// -------------------------

.post-nav {
	margin: 4em 0;

	a {
		display: block;
		width: 50%;
		color: $linkColour;
		padding: 5px 10px;
		font-size: 0.75em;

		&:hover {
			background: #eee;
		}
	}

	a[rel~="next"] {
		text-align: right;
		float: right;
	}

	a[rel~="prev"] {
		float: left;
	}

	p {
		margin: 0;
	}

	span {
		font-weight: bold;
	}
}