/*------------------------------------*\
    PAGER
\*------------------------------------*/


.pager {
	text-align: center;
	font-size: 0.8em;
}

.pager li {
	display: inline;
	list-style: none;
}

.pager li a {
	border: 1px solid #ddd;
	padding: 4px 8px;
	text-decoration: none;
	border-radius: 4px;
	color: #333;

	&:hover {
		background: #ddd;
	}
}