/*------------------------------------*\
    PAGINATE
\*------------------------------------*/


.pagination {
	text-align: center;
	font-size: 0.8em;
}

.pagination li {
	display: inline;
	list-style: none;
}

.pagination li a {
	border: 1px solid #ddd;
	padding: 4px 8px;
	text-decoration: none;
	border-radius: 4px;
	color: #333;

	&:hover {
		background: #ddd;
	}
}

.pagination li.page-current {
	padding: 4px 8px;
}