/*------------------------------------*\
    POST
\*------------------------------------*/

.all-posts {
	margin: 0;
	padding: 0;

	li {
		margin: 0 auto;
		width: 80%;
		border-bottom: 1px solid #EEEEEE;		
		list-style: none;
		font-size: 1.2em;
	}

	li a {
		display: block;
		padding: 1em;
		transition: background-color 0.5s ease;

		&:hover {
			background: #eee;
		}
	}

	.post-date {
		display:block;
		color: #999;
		font-weight: 300;
		font-size: 0.65em;

	}
}

.posts {
	margin: 50px 0 0 0;
	padding: 0;
}

.posts li {
	margin-bottom: 40px;
	list-style: none;
	text-align: center;
	font-size: 1.5em;

	span {
		display: block;
		color: #999;
		font-size:  0.6em;
	}
}

kbd {
	padding: .1em .6em;
	border: 1px solid #ccc;
	border-radius: 3px;
	background-color: #f3f3f3;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 1px #fff inset;
	-moz-box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 1px #fff inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 1px #fff inset;
	text-shadow: 0 1px 0 #fff;
	white-space: nowrap;
	font-size: .9em;
}

article  img {
	display: block;
	margin: 0 auto 20px auto;
	max-width: 100%;
}

article {
	margin-top: 60px;

	p, h1, h2, h3, h4, time {
		margin-right: auto;
		margin-left: auto;
		width: 80%;
	}

	blockquote {
		margin: 2em 0;
		color: #999;
		font-style: italic;
		font-size: 1.2em;

		span {
			display: block;
			color: #666;
		}
	}

	blockquote p {
		width: 100%;
	}

	ul {
		display: block;
		margin: 0 auto 1.5em auto;
		padding: 0;
		width: 80%;
	}

	time {
		display: block;
		margin: 0 auto 0.5em auto;
		color: #999;
	}

	@media screen and (max-width: 568px) {
		p, h1, h2, h3, h4, time {
			margin-right: auto;
			margin-left: auto;
			width: 95%;
		}	
	}
}

pre {
	overflow: auto;
	margin: 0 auto 1.5em auto;
	padding: 0 20px;
	width: 80%;
	background: #eee;
	font-size: 1.6em;
}

code {
	margin: 0;
	padding: 0;
	color: #666;
}

pre, code {
	font-size: .8em;
	font-family: "Inconsolata","Monaco","Consolas","Andale Mono","Bitstream Vera Sans Mono","Courier New",Courier,monospace;
}

.gist {
	margin-bottom: 2em;
	font-size: 0.7em;
	line-height: 1.6em;
}