/*------------------------------------*\
    SOCIAL ICONS
\*------------------------------------*/


.nav-social {
	margin: 0 0 20px 0;
	padding: 0;
}

.nav-social li {
	display: inline-block;
	text-indent: -9999px;
}

.nav-social li a {
	display: block;
	width: 40px;
	height: 40px;
	background: url(../images/social-sprite.png) no-repeat;
}

.nav-social li a:hover {
	opacity: 0.5;
}

.nav-social li.nav-social-rss a {
	background-position: 0 0;
}

.nav-social li.nav-social-twitter a {
	background-position: 0 -40px;
}

.nav-social li.nav-social-facebook a {
	background-position: 0 -80px;
}

.nav-social li.nav-social-googleplus a {
	background-position: 0 -120px;
}

.nav-social li.nav-social-linkedin a {
	background-position: 0 -160px;
}

.nav-social li.nav-social-dribbble a {
	background-position: 0 -200px;
}

.nav-social li.nav-social-flickr a {
	background-position: 0 -240px;
}

.nav-social li.nav-social-youtube a {
	background-position: 0 -280px;
}

.nav-social li.nav-social-vimeo a {
	background-position: 0 -320px;
}

.nav-social li.nav-social-tumblr a {
	background-position: 0 -360px;
}

.nav-social li.nav-social-skype a {
	background-position: 0 -400px;
}