/*------------------------------------*\
	SETTINGS
\*------------------------------------*/


// Typography
// -------------------------
$sans: 'Source Sans Pro', sans-serif;
$serif: Georgia, Times, "Times New Roman", serif;
$altFont: Monaco, Menlo, Consolas, "Courier New", monospace;
$baseFontFamily: $sans;
$baseFontSize: 20px;
$baseLineHeight: 28px;


// Colours
// -------------------------
$pageBackground: #fff;
$textColour: #333;
$linkColour: #3A83C6;
$linkColourHover: darken($linkColour, 25%);

$important: #BA4D48;
$success: #478743;
$warning: #FA9500;

$black: #000;
$white: #fff;
$grayDarker: #222;
$grayDark: #333;
$gray: #555;
$grayLight: #999;
$grayLighter: #eee;
$blue: #0088CE;