/*------------------------------------*\
    GRID
\*------------------------------------*/

/*
 * Gridism
 * A simple, responsive, and handy CSS grid by @cobyism
 * https://github.com/cobyism/gridism
 */

/* Set up some rules to govern the grid */
.l-grid {
  display: block;
  clear: both;
}

.l-grid .l-unit {
  float: left;
  width: 100%;
  padding: 10px;
}

/* This ensures the outer gutters are equal to the (doubled) inner gutters.l- */
.l-grid .l-unit:first-child {
	padding-left: 20px;
}

.l-grid .l-unit:last-child {
	padding-right: 20px;
}

/* Nested grids already have padding though, so let’s nuke it */
.l-unit .l-unit:first-child {
	padding-left: 0;
}

.l-unit .l-unit:last-child {
	padding-right: 0;
}

.l-unit .l-grid:first-child > .l-unit {
	padding-top: 0;
}

.l-unit .l-grid:last-child > .l-unit {
	padding-bottom: 0;
}

/* Let people nuke the gutters/padding completely in a couple of ways */
.l-no-gutters .l-unit,
.l-unit.l-no-gutters {
  padding: 0 !important;
}

/* Wrapping at a maximum width is optional */
.l-wrap .l-grid,
.l-grid.l-wrap {
  max-width: 978px;
  margin: 0 auto;
}

/* Width classes */
.l-grid .l-whole {
	width: 100%;
}

.l-grid .l-half {
	width: 50%;
}

.l-grid .l-one-third {
	width: 33.3332%;
}

.l-grid .l-two-thirds {
	width: 66.6665%;
}

.l-grid .l-one-quarter {
	width: 25%;
}

.l-grid .l-three-quarters {
	width: 75%;
}

.l-grid .l-one-fifth {
	width: 20%;
}

.l-grid .l-two-fifths {
	width: 40%;
}

.l-grid .l-three-fifths {
	width: 60%;
}

.l-grid .l-four-fifths {
	width: 80%;
}

.l-grid .l-golden-small {
	width: 38.2716%;
}

.l-grid .l-golden-large { 
	width: 61.7283%;
}

/* Clearfix after every .l-grid */
.l-grid {
  *zoom: 1;
}
.l-grid:before, .l-grid:after {
  display: table;
  content: "";
  line-height: 0;
}
.l-grid:after {
  clear: both;
}

/* Utility classes */
.l-align-center {
	text-align: center;
}

.l-align-left {
	text-align: left;
}

.l-align-right {
	text-align: right;
}

.l-pull-left {
	float: left;
}

.l-pull-right {
	float: right;
}

/* Responsive Stuff */
@media screen and (max-width: 568px) {
  /* Stack anything that isn’t full-width on smaller screens */
  .l-grid .l-unit {
    width: 100% !important;
    padding-left: 20px;
    padding-right: 20px;
  }
  .l-unit .l-grid .l-unit {
    padding-left: 0px;
    padding-right: 0px;
  }

  /* Sometimes, you just want to be different on small screens */
  .l-center-on-mobiles {
    text-align: center !important;
  }
  .l-hide-on-mobiles {
    display: none !important;
  }
}

/* Expand the wrap a bit further on larger screens */
@media screen and (min-width: 1180px) {
  .l-wider .l-grid {
    max-width: 1180px;
    margin: 0 auto;
  }
}