/*------------------------------------*\
    LAYOUT
\*------------------------------------*/


.l-page-head {
	margin: 50px 0;
	padding: 15px 0 10px 0;
	text-align: center;
}

.logo {
	margin: 20px 0;
}

h1.page-title {
	margin: 0;
}

h1 a {
	color: #333;
	font-size: 0.75em;
}

.l-page-footer {
	border-top: 1px solid #eee;
	text-align: center;
	font-size: 0.75em;
	margin-top: 20px;
}