<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="Insert a wonderfully well-crafted description">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="author" href="https://plus.google.com/104411960158724762863/posts/"/>
	<meta name="robots" content="noindex, nofollow">
	<title>{{ page.title }}</title>
	<link rel="shortcut icon" href="{{ site.baseurl}}/favicon.ico">
	<link rel="apple-touch-icon" href="{{ site.baseurl}}/apple-touch-icon.png">
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ site.baseurl}}/assets/css/styles.css">
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body>
	
<header class="l-page-head">
	<div class="l-grid l-wrap">
		<div class="l-unit l-whole">
			<h1 class="page-title"><a href="{{ site.baseurl}}/">Plausible Thought</a></h1>
			<nav class="page-nav">
			<a href="{{ site.baseurl}}/about/">About</a> / <a href="{{ site.baseurl}}/feed/">Subscribe</a> / <a href="{{ site.baseurl}}/contact/">Get in touch</a>
			</nav>
		</div>
	</div>
</header>

<div class="l-grid l-wrap">
	<div class="l-unit l-whole">
		{{ content }}
	</div>
</div>

<footer class="l-page-footer">
	<div class="l-grid l-wrap">
		<div class="l-unit l-whole">
			Read about the <a href="{{ site.baseurl}}/about/">author</a>, <a href="{{ site.baseurl}}/feed/">subscribe</a> or <a href="{{ site.baseurl}}/contact/">get in touch</a>.
		</div>
	</div>
</footer><!-- .l-page-footer -->

</body>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
	$("p:has(img)").contents().unwrap();
</script>

</html>